@font-face {
  font-family: 'MontserratRegular';
  src:
    local('MontserratRegular'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MontserratBold';
  src:
    local('MontserratBold'),
    url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'BebasNeueRegular';
  src:
    local('BebasNeueRegular'),
    url('./fonts/BebasNeue-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-text: #fff;
  --color-background: #161616;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'MontserratRegular';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
